
{% extends 'base-front.html.twig' %}

    
    

    
    {% block content %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css"
    integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" 
    integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
    <style>
        #calender{
            width: 60%;
            margin: auto;
        }
    </style>



        <!--dump(data)--> 

        <br>
        <br>
        <br>
        <br>
        <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3>Vos Reservations </h3>
                    </div>
                </div>
            </div>
        <div id="calender" >



        </div>

        <br>




        <script> 

    
            window.onload = () =>{
                let calendarEl = document.getElementById('calender');
                let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth' , 
                headerToolbar:{
                    start:'prev,next today' , 
                    center:'title',
                    end:'dayGridMonth'
                },
                events: {{ data|raw }}
                
                /*
                events: [
                            { // this object will be "parsed" into an Event Object
                            title: 'hlllooooo', // a property!
                            start: '2022-02-01', // a property!
                            end: '2022-02-02' // a property! ** see important note below about 'end' **
                            }
                        ]
                */
                
                
                }
                
                );
                calendar.render();
            }

        
        </script>



    {% endblock %}


    
    

        


    




