{% extends 'base-back.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block content %}
  <br>
    <br>
   <center><h1>update reclamation status of {{ reclamation.user.name }}</h1></center>
    <br>
    <br>
    <div class ="mahdiback">
    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
  <center>
    <a href="{{ path('viewreclamation') }}"><button class="btn-primary"> back to list  </button></a>

  <!--  {{ include('reclamation/_delete_form.html.twig') }} -->
   </center>
{% endblock %}
