{% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>

        <td><a class="btn btn-sm btn-primary" href="{{ path('mailing') }}">envoyer mail</a></td>
        <td><a class="btn btn-danger btn-sm " href="{{ path('delete_user',{id:user.id}) }}">delete</a></td>

    </tr>
{% endfor %}
