{% extends 'base_back.html.twig' %}

{% block title %}Back{% endblock %}
{% block content %}




    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Salse</h6>
                <a href="">Show All</a>
            </div>
            <div class="container">
                <div class="row">
                    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()" name="myForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom</label>
                            <input class="form-control" type="text" placeholder="Insérer le nom du vol" id="nom"
                                   name="nom" value="{{ vol.nom }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Destination</label>
                            <input class="form-control" type="text" placeholder="Insérer la destination" id="destination"
                                   name="destination" value="{{ vol.destination }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Prix</label>
                            <input class="form-control" type="number" step="0.01"  placeholder="Insérer le prix" id="prix"
                                   name="prix" value="{{ vol.prix }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">capacity</label>
                            <input class="form-control" type="integer" step="0.01"  placeholder="Insérer la capacité" id="capacity"
                                   name="capacity" value="{{ vol.capacity }}">
                        <div class="form-group">
                            <label for="date_aller" style="padding: 15px">date_aller:</label>
                            <input type="date" id="date_aller" name="date_aller">

                        </div>
                        <div class="form-group" style="padding: 15px">
                            <label for="date_retour">date_retour:</label>
                            <input type="date" id="date_retour" name="date_retour">


                        </div>



                        <button type="submit" class="btn btn-primary btn_round">Modifier</button>
                        </div></form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block additional %}


    <script>
        function isFloat(n){
            return Number(n) === n && n % 1 !== 0;
        }



        function validateForm() {
        let x = document.forms["myForm"]["prix"].value;
        if (!isFloat(x)) {
        alert("Price must be a float");
        return false;
        }
        }

    </script>

    <script type="text/javascript">

        var start = document.getElementById('date_aller');
        var end = document.getElementById('date_retour');


        start.addEventListener('change', function() {
            if (start.value)
                end.min = start.value;
        }, false);

        end.addEventListener('change', function() {
            if (end.value)
                start.max = end.value;
        }, false);

    </script>

{% endblock %}
