{% extends 'blog/index.html.twig' %}
{% block contenu %}
    <div class="container">
        <div class="row">
            <form name="myForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom Blog</label>
                    <input  class="form-control" type="text" placeholder="Insérer votre titre ici" id="titre" name="titre">
                    <small id="emailHelp" class="form-text text-muted">Ajouter un titre cool pour votre histoire</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Vous voulez parler d'une certaine destination ?</label>
                    <select class="selectpicker" name="vol_id">
                        <option></option>
                        {% for vol in vols %}
                            <option value={{ vol.id }}>{{ vol.destination }}</option>


                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="contenu">Contenu</label>
                    <textarea class="form-control" id="editor" placeholder="Insérer votre contenu ici" rows="15" name="contenu"></textarea>

                </div>
                <div class="form-group">

                </div>


                <div class="form-group">

                    <label for="exampleFormControlFile1">Insérer une image</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image"/>
                </div>
                <button type="submit" class="btn btn-primary btn_round" >Publier</button>
            </form>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    <script>
        function validateForm() {
            let x = document.forms["myForm"]["titre"].value;
            if (x == "") {
                alert("Name must be filled out");
                return false;
            }
            if (x.length < 4) {
                alert("Name must have more than 4 charchters");
                return false;
            }


        }
    </script>
{% endblock %}