{% extends 'base-back.html.twig' %}

{% block title %}Back{% endblock %}
{% block content %}




    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Salse</h6>
                <a href="">Show All</a>
            </div>
            <div class="container">
                <div class="row">
                    <form name="myVol"  method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom</label>
                            <input class="form-control" type="text"   placeholder="Insérer le nom du vol" id="nom"
                                   name="nom">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Destination</label>
                            <input class="form-control" type="text" placeholder="Insérer la destination" id="destination"
                                   name="destination">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Prix</label>
                            <input class="form-control" type="float"   step="0.01"  placeholder="Insérer le prix" id="prix"
                                   name="prix">
                            <div class="form-group">
                                <label for="exampleInputEmail1">capacity</label>
                                <input class="form-control" type="integer"  min="0" step="0.01"  placeholder="Insérer la capacité" id="capacity"
                                       name="capacity">
                        </div>
                            <div class="form-group">
                                <label for="date_aller" style="padding: 15px">date_aller:</label>
                                <input type="date" id="date_aller" name="date_aller">

                            </div>
                            <div class="form-group" style="padding: 15px">
                                <label for="date_retour">date_retour:</label>
                                <input type="date" id="date_retour" name="date_retour">

                            </div>



                        <button type="submit" class="btn btn-primary btn_round">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional %}
    <script>
        function isFloat(n){
            return Number(n) === n && n % 1 !== 0;
        }



        function validateForm() {
            let x = document.forms["myVol"]["prix"].value;
            if (isNaN(x) || x < 0){
                alert("Price must be a float");
                return false;
            }
        }

    </script>
    <script type="text/javascript">

        var start = document.getElementById('date_aller');
        var end = document.getElementById('date_retour');


        start.addEventListener('change', function() {
            if (start.value)
                end.min = start.value;
        }, false);

        end.addEventListener('change', function() {
            if (end.value)
                start.max = end.value;
        }, false);

    </script>

    

    <script>
        function validateForm() {
            let x = document.forms["myVol"]["nom"].value;
            if (x == "") {
                alert("Name must be filled out");
                return false;
            }
            if (x.length < 4) {
                alert("Name must have more than 4 charchters");
                return false;
            }


        }
    </script>
    






    <script>
        function isFloat(n){
            return Number(n) === n && n % 1 !== 0;
        }



        function validateForm() {
        let x = document.forms["myForm"]["prix"].value;
            if (isNaN(x) || x < 0){
        alert("Price must be a float");
        return false;
        }
        }

    </script>

    <script type="text/javascript">

        var start = document.getElementById('date_aller');
        var end = document.getElementById('date_retour');


        start.addEventListener('change', function() {
            if (start.value)
                end.min = start.value;
        }, false);

        end.addEventListener('change', function() {
            if (end.value)
                start.max = end.value;
        }, false);

    </script>

{% endblock %}